<h1>Editing Cmaterial</h1>
<style>
  body {background-color:#2E2F30;}
  h1   {color:white;}
  p    {color:white;}
</style>

<%= render 'form' %>

<%= link_to 'Show', @cmaterial, class: "myButton"  %> |
<%= link_to 'Back', cmaterials_path, class: "myButton"  %>
