<h1>New Admin</h1>
<style>
  body {background-color:#2E2F30;}
  h1   {color:white;}
  p    {color:white;}
</style>

<%= render 'form' %>



     <%= link_to 'Back', current_user, class: "myButton" %>
