<h2> Admin Homepage</h2>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
<div>
Actions
</div>
<div>
Link to Edit Profile <br>
Admin Management <br>
  <ul>
    <li>Create Admin</li>
    <li>View Admins</li>
    <li>Delete Admins</li>
  </ul>
Course Management <br>
  <ul>
      <li>Create Course</li>
      <li>View Courses</li>
      <li>View Course details</li>
        <li>Edit Course details</li>
        <li>Delete details</li>
        <li>Post grades on behalf of instructor</li>
  </ul>

Instructor/Student Management <br>
  <ul>
    <li>Add/Remove Instructor</li>
      <li>Add/Remove Student</li>
      <li>View Course details</li>
      <li>Edit Course details</li>
      <li>Delete details</li>
  </ul>


</div>