<h2>Student Homepage</h2>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>

<br><br>
Edit Profile<br>
Search Course<br>
View Details of a Course<br>
Enroll in a course request<br>
Drop a course <br>
View own Course history <br>
