<style>
  body {background-color:#2E2F30;}
  h1   {color:white;}
  p    {color:white;}
</style>
<h1>Editing User</h1>

<%= render 'form' %>

<%= link_to 'Show', @user, class: "myButton"  %> |
<%= link_to 'Back', users_path, class: "myButton"  %>
